:root {
	--main-color: #757575;
	--accent-color: #2196f3;
	--dark-color: #212121;
	--white-color: #ffffff;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

ul {
	padding-inline-start: 0px;
}
.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.link {
	text-decoration: none;
}
body {
	width: 100%;
	height: 100%;
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--main-color);
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 94px;
	margin-right: auto;
	margin-left: auto;
}
.flexbox {
	display: flex;
}
.line {
	position: absolute;
	width: 100%;
	height: 0px;
	left: 0px;
	top: 79px;

	border: 1px solid #ececec;
}
.page-header {
	display: flex;
	align-items: center;
	padding-bottom: 0;
}
.navigation {
	display: flex;
	align-items: center;
	padding: 24px 0;
}
.logo {
	margin-right: 85px;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #000000;
}
.logo span {
	color: #2196f3;
}
.logo-mail {
	width: 16px;
	height: 12px;
	color: #727272;
}

.menu-list {
	display: flex;
}
.menu-item:not(:last-child) {
	position: relative;
	margin-right: 50px;
}
.menu-link {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--dark-color);

	transition-property: color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.current {
	color: var(--accent-color);
}
.current::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: -24px;
	border-radius: 2px;
	background-color: var(--accent-color);
	background-repeat: no-repeat;
}
.menu-link:hover,
:focus {
	color: var(--accent-color);
	transition: color, transform;
	cursor: pointer;
}
.header-contacts {
	align-items: center;
	margin-left: auto;
}
.contact-list {
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-color);
}
.header-contacts-item:not(:last-child) {
	margin-right: 50px;
}
.contact-link {
	display: inline-flex;
	color: var(--main-color);
	fill: var(--main-color);

	transition-property: color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.contact-icon {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
.menu-link:hover,
.menu-link:active,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
	transition: color, transform;

	color: var(--accent-color);
	fill: var(--accent-color);
	cursor: pointer;
}
.hero-block {
	max-width: 1600px;
	height: 600px;
	display: flex;
	padding-top: 137px;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero-title {
	display: flex;
	justify-content: center;
}
h1 {
	max-width: 696px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1, 36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white-color);
}
.hero-btn {
	display: flex;
	justify-content: center;
}
.btn {
	padding: 10px 32px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white-color);
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	outline: none;
	transition-property: color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.btn:hover,
.btn:focus {
	color: var(--accent-color);
	background-color: var(--white-color);
	cursor: pointer;
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	z-index: 99;
	transition-property: transform, opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
	transform: scale(1);
}
.modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 528px;
	min-height: 581px;
	padding: 15px;
	background-color: #fff;
	position: absolute;
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transform: scale(0.2);
}
.close-modal {
	position: absolute;
	top: 8px;
	right: 8px;
	margin: 10px;
	background-color: var(--white-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	outline: none;
}
.close-modal svg {
	width: 10px;
	height: 10px;
	fill: var(--dark-color);
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.close-modal:hover svg,
.close-modal:focus svg {
	fill: var(--accent-color);
}
.close-modal:hover,
.close-modal:focus {
	cursor: pointer;
}
.form {
	padding-top: 25px;
}
.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--dark-color);
}
.our-advantages-titles {
	margin-top: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--dark-color);
}
.our-advantages-text {
	margin-top: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.block-advantages {
	padding-top: 94px;
}
.our-advantages {
	display: flex;
	flex-wrap: wrap;
}
.advantages-pictupes {
	background-color: #f5f4fa;
}
.our-advantages svg {
	width: 70px;
	height: 70px;
	margin: 25px 100px;
}
.our-advantages-item {
	width: calc((100% - 30px * 3) / 4);
	margin-right: 30px;
	vertical-align: top;
}
.our-advantages-item:last-child {
	margin-right: 0;
}
.we-doing-item h3 {
	color: var(--white-color);
	transition-property: color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.we-doing-item:hover h3,
.we-doing-item:focus h3 {
	color: var(--accent-color);
	cursor: pointer;
}
.section-we-doing img {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--white-color);
}
.we-doing-title {
	position: absolute;
	align-items: center;
	width: 100%;
	height: 70px;
	bottom: 10px;
	background-color: rgba(47, 48, 58, 0.8);
}
.we-doing-title > h3 {
	position: relative;
	top: 27px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-color);
}
.we-doing-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}
.we-doing-item {
	width: calc((100% - 30px * 2) / 3);
	position: relative;
	margin-right: 30px;
	/*  vertical-align: top;*/
}
.we-doing-item:last-child {
	margin-right: 0;
}
/*Блок "Наша команда"*/
.section-our-team {
	background: #f5f4fa;
}
.block-our-team {
	padding-top: 94px;
}
.our-team-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}
.our-team-item {
	width: calc((100% - 30px * 3) / 4);
	background-color: var(--white-color);
	margin-right: 30px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.our-team-item:last-child {
	margin-right: 0;
}
.our-team-item > h3 {
	margin-top: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--dark-color);
}
.our-team-item > p {
	margin-top: 10px;
	line-height: 19px;
	text-align: center;
}
.our-team-social-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
	margin-bottom: 24px;
}
.our-team-social-item {
	margin-right: 10px;
	background: var(--white-color);
	border-radius: 50%;
	fill: #afb1b8;
	transition-property: fill, background-color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.our-team-social-item:last-child {
	margin-right: 0;
}
.our-team-social-item > a {
	width: 20px;
	height: 20px;
	display: flex;
	margin: 12px;
	line-height: 0;
	letter-spacing: 0;
}
.our-team-social-item > a > svg {
	fill: #afb1b8;

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.our-team-social-item:hover,
.our-team-social-item:focus {
	background: var(--accent-color);
	fill: #ffffff;
	cursor: pointer;
}
.our-team-social-item:hover > a > svg,
.our-team-social-item:focus > a > svg {
	fill: #ffffff;
}
/*Блок "Постоянные клиенты"*/

.block-regular-customers {
	padding-top: 94px;
}
.regular-customers-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}
.regular-customers-item {
	position: relative;
	display: flex;
	width: calc((100% - 30px * 5) / 6);
	height: 90px;
	margin-right: 30px;
	justify-content: center;
	align-items: center;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	fill: #afb1b8;
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.regular-customers-item:last-child {
	margin-right: 0;
}
.regular-customers-item:hover,
.regular-customers-item:focus {
	border: solid 1px var(--accent-color);
	cursor: pointer;
}

.regular-customers-item > a {
	display: flex;
	height: 48px;
}
.regular-customers-item > a > svg {
	fill: #afb1b8;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.regular-customers-item:hover > a > svg,
.regular-customers-item:focus > a > svg {
	fill: #2196f3;
}

/*Footer*/
.page-footer {
	background-color: #2f303a;
}
.block-footer {
	/*justify-content: space-between;*/
	align-items: center;
	display: flex;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-contacts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.footer-logo {
	display: inline-block;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--white-color);
}
.footer-logo span {
	color: #2196f3;
}

.footer-adress-list {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.footer-adress-list a {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);

	transition-property: color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.footer-adress-item > address > a {
	color: var(--white-color);
}
.footer-adress-item a:hover,
.footer-adress-item a:hover {
	color: var(--accent-color);
}
.footer-join {
	display: flex;
	flex-direction: column;
	margin-left: 70px;
}
.footer-join-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-color);
}
.footer-soc-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}
.footer-soc-item > a {
	width: 20px;
	height: 20px;
	display: flex;
	position: relative;
	margin: 12px;
	line-height: 0;
	letter-spacing: 0;
	fill: #ffffff;
}
.footer-soc-item {
	background-color: rgba(255, 255, 255, 0.1);
	/*background-size: 44px;*/
	border-radius: 50%;
	margin-right: 10px;

	transition-property: background-color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.footer-soc-item:last-child {
	margin-right: 0;
}
.footer-soc-item:hover,
.footer-soc-item:focus {
	background-color: var(--accent-color);
	cursor: pointer;
}
.footer-mailing {
	display: flex;
	flex-direction: row;
	margin-left: 94px;
}
.footer-mailing-form {
	display: flex;
	flex-direction: column;
}
.footer-mailing input {
	height: 50px;
	width: 358px;
	margin-top: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: var(--white-color);
	background-color: #2f303a;
	padding-left: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.25;
}

.footer-mailing input:focus,
.footer-mailing input:hover {
	border-color: var(--accent-color);
	box-shadow: 1px var(--accent-color);
	cursor: pointer;
}
.footer-button-mailing {
	margin-top: auto;
	margin-left: 12px;
}
.footer-button-mailing button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	width: 200px;
	height: 50px;
	color: var(--white-color);
	background-color: var(--accent-color);
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
}
.footer-button-mailing > button > svg {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	fill: #ffffff;
}

/*Portfolio*/

/* Line */

.header-line {
	position: absolute;
	width: 100%;
	height: 0px;
	left: 0px;
	top: 80px;
	border: 1px solid #ececec;
}
.portfolio-main-navigation-list {
	padding-top: 94px;
	display: flex;
	justify-content: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.88;
	margin-left: 8px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.06em;
}
.btn-portfolio:not(:last-child) {
	margin-right: 8px;
}
.btn-portfolio button {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	padding: 6px 22px;
	border-radius: 4px;
	color: var(--dark-color);
	background: #f5f4fa;
	/*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
	border: none;
	outline: none;
}
.btn-portfolio button:hover,
.btn-portfolio button:focus {
	transition-property: color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
	color: var(--white-color);
	background: var(--accent-color);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.portfolio-galery-list {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-galery-item {
	position: relative;
	width: calc((100% - 30px * 2) / 3);
	margin-top: 30px;
	margin-right: 30px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	box-sizing: border-box;
}
.portfolio-galery-item:nth-child(-n + 3) {
	margin-top: 0px;
}
.portfolio-galery-item:nth-child(3n + 3) {
	margin-right: 0;
}
.portfolio-galery-item:hover,
.portfolio-galery-item:focus {
	border: 1px solid #eeeeee;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}
.portfolio-galery-item:hover .portfolio-overley-img,
.portfolio-galery-item:focus .portfolio-overley-img {
	transform: translateY(0);

	opacity: 1;
}
.portfolio-galery-item > a {
	text-decoration: none;
}
.portfolio-galery-item h2 {
	margin-top: 20px;
	margin-left: 24px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	text-align: left;
	letter-spacing: 0.06em;
	color: var(--dark-color);
}
.portfolio-galery-item .text {
	margin-top: 4px;
	margin-left: 24px;
	margin-bottom: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--main-color);
}
.portfolio-overley {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 294px;
	overflow: hidden;
}
.portfolio-overley-img {
	position: absolute;
	top: 0;
	left: 0;
	color: var(--white-color);
	margin: 0;
	width: 100%;
	height: 294px;

	background-color: rgba(33, 150, 243, 0.9);
	background-size: 100px 100px;

	transition-property: background-color, opacity, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
	opacity: 0;
	transform: translateY(100%);
}

.portfolio-overley-text {
	margin: 63px 24px;
	color: var(--white-color);
}
